.page{
    min-height: 84vh !important;
}

.container-fluid{
    padding-bottom: 20px !important;
}

select.form-control-sm:not([size]):not([multiple]) {
    height: 100% !important;
}
.card-header{
    margin-bottom: 10px !important;
}
.breadcrumb-item{
    font-size: 12px;
}


.connectedSortable{
    min-height: 300px;
}

.page-details{
    padding-bottom: 30px;
}

nav.side-navbar ul ul a{
    background-color: #ffffff !important;
}

nav.side-navbar ul li.active a{
    background-color: #EEF5F9 !important;
}

nav.side-navbar ul a:hover{
    color: rgb(104, 106, 118);
    background-color: rgb(238, 245, 249) !important;
}

.page-content{
    min-height: 460px !important;
}